@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
}
button {
    border-radius: 19%  ;
    padding: 0.4%;
    cursor: pointer;
    color: white;
    background-color: lightslategray;
    font-family: 'Noto Sans', sans-serif;
}

h3 {
    color: darkcyan;
}